.filter {
  display: flex;
  margin: 10px 0;
}

.filter div {
  padding: 5px 15px;
  border: 1px solid;
  margin-right: 10px;
  cursor: pointer;
}

.filter .active {
  color: #ffffff;
  background-color: #8a8a8a;
}

.project-list {
  display: flex;
}
.column {
  width: 33%;
  margin-right: 10px;
}

.column:last-child {
  margin-right: 0;
}

.project-list img {
  width: 100%;
  margin-bottom: 10px;
}

.project-list img:last-child {
  margin-bottom: 0;
}
